@model List<ItemViewModel>

@if (Model == null || Model.Count == 0)
{
    <h3>Нет товаров для сравнения</h3>
    <a class="btn btn-secondary"
        asp-area=""
        asp-controller="Home"
        asp-action="Index" role="button">
        Продолжить покупки
    </a>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3 card shadow">
                <a 
                    asp-area=""
                    asp-controller="Product"
                    asp-action="Index"
                    asp-route-id="@item.Id">
                    <img class="card-img-top" src=@item.ImagePath alt="Изображение товара" />
                </a>
                <div class="card-body">
                    <a class="card-title" style="color:blue"
                        asp-area=""
                        asp-controller="Product"
                        asp-action="Index"
                        asp-route-id="@item.Id">
                        <h5>@item.Name</h5>
                    </a>
                    <p class="card-text">@item.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@item.Cost ₽</li>
                    <li class="list-group-item">@item.Material</li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-primary"
                        asp-area=""
                        asp-controller="Cart"
                        asp-action="Add"
                        asp-route-itemId="@item.Id" role="button">
                        Добавить в корзину
                    </a>
                    <a class="btn btn-outline-danger"
                        data-toggle="tooltip" title="Добавить в избранное"
                        asp-area=""
                        asp-controller="Favorite"
                        asp-action="Add"
                        asp-route-itemId="@item.Id" role="button">
                        <i class="bi bi-heart"></i>
                    </a>
                    <a class="btn btn-outline-secondary" data-toggle="tooltip" title="Удалить"
                        asp-area=""
                        asp-controller="Compare"
                        asp-action="Remove"
                        asp-route-itemId="@item.Id" role="button">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </div>
            </div>
        }
    </div>
}