@model ItemViewModel

<div class="row">
    @await Html.PartialAsync("AdminLeftMenu")

    <div class="col-6">
        <form method="post">
            <div>
                <h3>Редактирование товара</h3>
            </div>

            <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

            <input type="hidden" name="id" value="@Model.Id" />
            <div class="row">
                <div class="col-8">
                    <label asp for="Name">Наименование:</label>
                    <input class="form-control mb-1" asp-for="Name" value="@Model.Name" />
                    <span asp-validation-for="Name" />
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <label asp for="Cost">Цена:</label>
                    <input class="form-control mb-1" asp-for="Cost" value="@Model.Cost" />
                    <span asp-validation-for="Cost" />
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <label asp for="Material">Материал:</label>
                    <input class="form-control mb-1" asp-for="Material" value="@Model.Material" />
                    <span asp-validation-for="Material" />
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <label asp for="Description">Описание:</label>
                    <input class="form-control mb-1" asp-for="Description" value="@Model.Description" />
                    <span asp-validation-for="Description" />
                </div>
            </div>

            <div>
                <button class="btn btn-success position-relative me-2" type="submit" asp-area="Admin" asp-controller="Item" asp-action="Edit">Сохранить</button>
            </div>
        </form>
    </div>
</div>﻿